<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiajiao.web.dao.StudentSentMapper">
  <resultMap id="BaseResultMap" type="com.jiajiao.web.pojo.StudentSent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="s_resume_id" jdbcType="INTEGER" property="sResumeId" />
    <result column="p_need_id" jdbcType="INTEGER" property="pNeedId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, s_resume_id, p_need_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jiajiao_student_sent
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jiajiao_student_sent
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jiajiao.web.pojo.StudentSent">
    insert into jiajiao_student_sent (id, s_resume_id, p_need_id, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{sResumeId,jdbcType=INTEGER}, #{pNeedId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jiajiao.web.pojo.StudentSent">
    insert into jiajiao_student_sent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sResumeId != null">
        s_resume_id,
      </if>
      <if test="pNeedId != null">
        p_need_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sResumeId != null">
        #{sResumeId,jdbcType=INTEGER},
      </if>
      <if test="pNeedId != null">
        #{pNeedId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiajiao.web.pojo.StudentSent">
    update jiajiao_student_sent
    <set>
      <if test="sResumeId != null">
        s_resume_id = #{sResumeId,jdbcType=INTEGER},
      </if>
      <if test="pNeedId != null">
        p_need_id = #{pNeedId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiajiao.web.pojo.StudentSent">
    update jiajiao_student_sent
    set s_resume_id = #{sResumeId,jdbcType=INTEGER},
      p_need_id = #{pNeedId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByStudentResumeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from jiajiao_student_sent
    where s_resume_id = #{s_resume_id,jdbcType=INTEGER}
  </select>
  <select id="selectByParentNeedId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from jiajiao_student_sent
    where p_need_id = #{p_need_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteBySRIdAndPNId" parameterType="java.lang.Integer">
    delete from jiajiao_student_sent
    where s_resume_id = #{s_resume_id,jdbcType=INTEGER} and p_need_id = #{p_need_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByStudentResumeId" parameterType="java.lang.Integer">
    delete from jiajiao_student_sent
    where s_resume_id = #{s_resume_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByParentNeedId" parameterType="java.lang.Integer">
    delete from jiajiao_student_sent
    where p_need_id = #{p_need_id,jdbcType=INTEGER}
  </delete>
</mapper>