<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiajiao.web.dao.SubjectMapper">
  <resultMap id="BaseResultMap" type="com.jiajiao.web.pojo.Subject">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="out_id" jdbcType="INTEGER" property="outId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, out_id, type, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jiajiao_subject
    where id = #{id,jdbcType=INTEGER}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jiajiao_subject
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jiajiao.web.pojo.Subject">
    insert into jiajiao_subject (id, out_id, type, 
      name)
    values (#{id,jdbcType=INTEGER}, #{outId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jiajiao.web.pojo.Subject">
    insert into jiajiao_subject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="outId != null">
        out_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="outId != null">
        #{outId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiajiao.web.pojo.Subject">
    update jiajiao_subject
    <set>
      <if test="outId != null">
        out_id = #{outId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiajiao.web.pojo.Subject">
    update jiajiao_subject
    set out_id = #{outId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByOutKeyAndType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from jiajiao_subject
    where out_id = #{out_id,jdbcType=INTEGER} and type = #{type,jdbcType=INTEGER}
  </select>


  <insert id="insertList" parameterType="java.util.List">
    insert into jiajiao_subject (id, out_id, type,
      name) values
    <foreach collection="record_list" item="record" separator=",">
      (#{record.id,jdbcType=INTEGER}, #{record.outId,jdbcType=INTEGER}, #{record.type,jdbcType=INTEGER},
      #{record.name,jdbcType=VARCHAR})
    </foreach>

  </insert>

  <delete id="deleteByOutKey" parameterType="java.lang.Integer">
    delete from jiajiao_subject
    where out_id = #{out_id,jdbcType=INTEGER} and type = #{type,jdbcType=INTEGER}
  </delete>

</mapper>